<!DOCTYPE html>

<html lang="en" ng-app="todo">
<head>
    <meta charset="UTF-8">
    <title>AngularJS - Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
        .finalized {
            text-decoration: line-through !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Formulário de Cadastro</h1>            
        </div>

        <hr>
        <div ng-controller="GetCtrl">           
                <div class="container">
				<form class="form-horizontal" ng-submit="insertResults()">   
				<div class="row">
					<div class="col">
						<input type="text" class="form-control" placeholder="Nome" ng-model="name" required>
					</div>
				</div><br>	
				<div class="row">	
					<div class="col">
						<input type="text" class="form-control" placeholder="Senha" ng-model="password" required>					
					</div>
				</div><br>
				<div class="row">
					<div class="col">
						<input type="cpf" class="form-control" placeholder="CPF" ng-model="cpf" required>
					</div> 
    			</div><br>
				<div class="row">	
					<div class="col">
						<input type="text" class="form-control" placeholder="Telefone" ng-model="telefone" required>
					</div>
				</div><br>					
				<br>				
				<div class="row">
					<div class="col-sm-2">
                        <button type="submit" class="btn btn-block btn-primary">
                            [[button]]
                        </button>
                   </div>
                   </div>				
                </form>   
			</div>
            <br>
			<hr>
		<table class='table table-striped'>
			<thead>
			    <tr>
			    <th>Nome:</th>
				<th>Senha</th>
				<th>CPF:</th>
				<th>Telefone</th>
				<th>Acao:</th>
				</tr>
			</thead>
			<tbody ng-repeat="x in list">
                <tr>                    
            <td>[[x.name]]</td>
			<td>[[x.password]]</td>
			<td>[[x.cpf]]</td>
			<td>[[x.telefone]]</td>
            <td>
			<a href="#" id="[[ x.public_id ]]" ng-click="Delete([[ x.public_id ]])">Remover</a>
			<a href="#" id="[[ x.public_id ]]" ng-click="Editar([[ x.public_id ]])">Alterar</a>
			</td>                   
                </tr>
            </tbody>
        </table>
            	
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.6.9/angular-resource.min.js"></script>
    <script>

    var app = angular.module('todo', ["ngResource"]);

    	app.factory('Users', ['$resource', function($resource) {
  			return $resource('/users/:public_id', null, 
  				{
  					'update': { method: 'PUT'}
  				});
		}]);

		app.controller('GetCtrl', ['$scope', '$http', 'Users', function($scope, $http, Users)	{
         
		$scope.id = null;
		$scope.button = "Inserir";

		Users.get(function(data) {
   			$scope.list = data.users;
   			console.log(data.users);
 		});

		$scope.insertResults = function() {			
					
				var user = new Users();
				user.name = $scope.name;
 				user.password = $scope.password;
 				user.cpf = $scope.cpf;
 				user.telefone = $scope.telefone;
  				
  				if ($scope.id == null) user.$save();
  				else user.$update( { public_id: $scope.id });  		

			    history.go(0);
			};

		
		$scope.Editar = function (public_id){

			$scope.button = "Alterar";			
			Users.get({ public_id: public_id }, function(data)
			{	
				$scope.id = data.user.public_id;
				$scope.name = data.user.name;
				$scope.password = data.user.password;
				$scope.cpf = data.user.cpf;
				$scope.telefone = data.user.telefone;
				console.log(data.user);
			});
			};
		
		$scope.Delete = function deletar(public_id){
		
			Users.remove({ public_id: public_id });
			console.log("Usuario excluido");
			history.go(0);
		};
		
		
		
		$scope.delete = function(public_id)
		{
			$scope.search_delete = public_id;
		};
		
		$scope.select = function(){
			this.setSelectionRange(0, this.value.length);
		}
		
			
		}])
	
	app.config(function($interpolateProvider) {
		$interpolateProvider.startSymbol("[[");
		$interpolateProvider.endSymbol("]]");
	});
    </script>
</body>

</html>
