<table class='table table-striped'>
			<thead>
			    <tr>
			        <th>Nome:</th>
				<th>E-mail</th>
				<th>CPF:</th>
				<th>Telefone</th>
				<th>Senha:</th>
				</tr>
			</thead>
			<tbody ng-repeat="item in items">
                <tr>                    
            <td>{{ item.nome }}</td>
			<td>{{ item.email }}</td>
			<td>{{ item.cpf }}</td>
			<td>{{ item.telefone }}</td>
            <td>{{ item.senha }}</td>                   
                </tr>
            </tbody>
            </table>	
