<!DOCTYPE html>

<html>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>

<body>



<div ng-app="myApp" ng-controller="myCtrl">

Name: <input ng-model="nome">

<h1>You entered: [[ nome ]]</h1>

</div>



<script type="text/javascript">

var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope)

{

	$scope.nome = "Jorge";

});



app.config(function($interpolateProvider) {

	$interpolateProvider.startSymbol("[[");

	$interpolateProvider.endSymbol("]]");

})

</script>

</body>